In [38]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/nse-stocks-data/FINAL_FROM_DF.csv

In [39]:
import calendar
import datetime as dt
import plotly.io as pio
import plotly.express as px
import plotly.graph_objects as go
import plotly.figure_factory as ff
from IPython.display import HTML
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
import statsmodels.api as sm
from sklearn.tree import DecisionTreeRegressor,DecisionTreeClassifier
from sklearn.svm import SVR
from sklearn.preprocessing import LabelEncoder,MinMaxScaler
from sklearn.linear_model import LogisticRegression,LinearRegression
from sklearn.ensemble import AdaBoostClassifier,AdaBoostRegressor,RandomForestRegressor,RandomForestClassifier,GradientBoostingClassifier,GradientBoostingRegressor
from sklearn.model_selection import train_test_split,GridSearchCV
import xgboost
from sklearn.metrics import accuracy_score,classification_report,f1_score,recall_score,precision_score,mean_absolute_error,r2_score,mean_squared_error,silhouette_score
import warnings
warnings.filterwarnings('ignore')
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from sklearn.naive_bayes import GaussianNB,MultinomialNB, BernoulliNB
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import BaggingClassifier, RandomForestClassifier, ExtraTreesClassifier
from sklearn.ensemble import AdaBoostClassifier, GradientBoostingClassifier
from xgboost import XGBClassifier, XGBRFClassifier
from sklearn.metrics import accuracy_score,confusion_matrix,precision_score
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from wordcloud import WordCloud
from collections import  Counter
import nltk
import pickle
import string
import tensorflow as tf
from tensorflow.python.keras.models import Sequential
from tensorflow.python.keras.layers import Dense
from tensorflow.python.keras.layers import LSTM
%matplotlib inline

%matplotlib inline
import warnings
warnings.filterwarnings("ignore")
nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to /usr/share/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /usr/share/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [40]:
df = pd.read_csv('/kaggle/input/nse-stocks-data/FINAL_FROM_DF.csv')
df

,SYMBOL,SERIES,OPEN,HIGH,LOW,CLOSE,LAST,PREVCLOSE,TOTTRDQTY,TOTTRDVAL,TIMESTAMP,TOTALTRADES,ISIN
0,20MICRONS,EQ,37.80,37.80,36.15,36.85,37.40,37.05,27130,994657.90,2017-06-28,202,INE144J01027
1,3IINFOTECH,EQ,4.10,4.85,4.00,4.55,4.65,4.05,20157058,92148517.65,2017-06-28,7353,INE748C01020
2,3MINDIA,EQ,13425.15,13469.55,12920.00,13266.70,13300.00,13460.55,2290,30304923.35,2017-06-28,748,INE470A01017
3,63MOONS,EQ,61.00,61.90,60.35,61.00,61.10,60.65,27701,1689421.00,2017-06-28,437,INE111B01023
4,8KMILES,EQ,546.10,548.00,535.00,537.45,535.20,547.45,79722,43208620.05,2017-06-28,1866,INE650K01021
...,...,...,...,...,...,...,...,...,...,...,...,...,...
846399,ZOTA,SM,221.00,221.00,214.00,217.00,217.00,220.00,14000,3041550.00,2017-12-29,14,INE358U01012
846400,ZUARI,EQ,562.00,562.00,549.55,550.80,552.00,556.80,105184,58163061.60,2017-12-29,2218,INE840M01016
846401,ZUARIGLOB,EQ,255.50,258.40,252.50,253.25,253.00,254.10,90067,22968100.60,2017-12-29,2001,INE217A01012
846402,ZYDUSWELL,EQ,1038.00,1068.00,1033.00,1043.20,1035.00,1023.10,28601,29938840.10,2017-12-29,1401,INE768C01010
846403,ZYLOG,EQ,4.30,5.15,4.30,4.65,4.60,4.40,732051,3495213.70,2017-12-29,845,INE225I01026

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 846404 entries, 0 to 846403
Data columns (total 13 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   SYMBOL       846404 non-null  object
 1   SERIES       843947 non-null  object
 2   OPEN         846404 non-null  float64
 3   HIGH         846404 non-null  float64
 4   LOW          846404 non-null  float64
 5   CLOSE        846404 non-null  float64
 6   LAST         846404 non-null  float64
 7   PREVCLOSE    846404 non-null  float64
 8   TOTTRDQTY    846404 non-null  int64
 9   TOTTRDVAL    846404 non-null  float64
 10  TIMESTAMP    846404 non-null  object
 11  TOTALTRADES  846404 non-null  int64
 12  ISIN         846404 non-null  object
dtypes: float64(7), int64(2), object(4)
memory usage: 83.9+ MB

In [42]:
df.shape

(846404, 13)

In [43]:
df.describe()

,OPEN,HIGH,LOW,CLOSE,LAST,PREVCLOSE,TOTTRDQTY,TOTTRDVAL,TOTALTRADES
count,846404.000000,846404.000000,846404.000000,846404.000000,846404.000000,846404.000000,8.464040e+05,8.464040e+05,8.464040e+05
mean,561.258797,568.679340,553.861861,560.815168,560.184430,560.225320,6.983800e+05,1.334592e+08,5.013823e+03
std,2005.760598,2027.159199,1983.412783,2004.576315,2003.900793,2000.362761,4.055630e+06,6.296968e+08,1.490112e+04
min,0.050000,0.050000,0.050000,0.050000,0.000000,0.050000,1.000000e+00,5.000000e-02,1.000000e+00
25%,39.900000,40.850000,38.850000,39.750000,39.600000,39.700000,6.628000e+03,6.071941e+05,8.400000e+01
50%,139.200000,142.050000,136.150000,138.900000,138.450000,138.750000,4.429200e+04,5.321067e+06,6.000000e+02
75%,490.000000,499.550000,481.100000,489.550000,488.500000,489.150000,2.757322e+05,3.711093e+07,3.028000e+03
max,119990.000000,119990.000000,119990.000000,119990.000000,119990.000000,119990.000000,7.818365e+08,1.426400e+11,1.192900e+06

In [44]:
df.columns

Index(['SYMBOL', 'SERIES', 'OPEN', 'HIGH', 'LOW', 'CLOSE', 'LAST', 'PREVCLOSE',
       'TOTTRDQTY', 'TOTTRDVAL', 'TIMESTAMP', 'TOTALTRADES', 'ISIN'],
      dtype='object')

In [45]:
df.isnull().sum()

SYMBOL            0
SERIES         2457
OPEN              0
HIGH              0
LOW               0
CLOSE             0
LAST              0
PREVCLOSE         0
TOTTRDQTY         0
TOTTRDVAL         0
TIMESTAMP         0
TOTALTRADES       0
ISIN              0
dtype: int64

In [46]:
df['SERIES'].value_counts()

EQ    739199
BE     37428
SM     11229
N6      5080
N2      4828
       ...
HB         7
H6         7
HE         1
HA         1
BT         1
Name: SERIES, Length: 71, dtype: int64

In [47]:
series_null = df['SERIES'].mode()
series_null

0    EQ
Name: SERIES, dtype: object

In [48]:
df['SERIES'] = df['SERIES'].fillna('EQ')
df.isnull().sum()

SYMBOL         0
SERIES         0
OPEN           0
HIGH           0
LOW            0
CLOSE          0
LAST           0
PREVCLOSE      0
TOTTRDQTY      0
TOTTRDVAL      0
TIMESTAMP      0
TOTALTRADES    0
ISIN           0
dtype: int64

In [49]:
df_cat = df.select_dtypes(include = 'object')
df_cat

            SYMBOL SERIES   TIMESTAMP          ISIN
0        20MICRONS     EQ  2017-06-28  INE144J01027
1       3IINFOTECH     EQ  2017-06-28  INE748C01020
2          3MINDIA     EQ  2017-06-28  INE470A01017
3          63MOONS     EQ  2017-06-28  INE111B01023
4          8KMILES     EQ  2017-06-28  INE650K01021
...            ...    ...         ...           ...
846399        ZOTA     SM  2017-12-29  INE358U01012
846400       ZUARI     EQ  2017-12-29  INE840M01016
846401   ZUARIGLOB     EQ  2017-12-29  INE217A01012
846402   ZYDUSWELL     EQ  2017-12-29  INE768C01010
846403       ZYLOG     EQ  2017-12-29  INE225I01026

[846404 rows x 4 columns]

In [ ]:
# Top 20 entries based on TOTTRDQTY (Total Traded Quantity)
top_20_by_qty = df.nlargest(20, 'TOTTRDQTY')

# Bar plot for top 20 entries based on TOTTRDQTY
plt.figure(figsize=(12, 6))
sns.barplot(x='TOTTRDQTY', y='SYMBOL', data=top_20_by_qty)
plt.title('Top 20 Entries by Total Traded Quantity')
plt.xlabel('Total Traded Quantity')
plt.ylabel('Symbol')
plt.show()

In [ ]:
# Top 20 entries based on TOTTRDVAL (Total Traded Value)
top_20_by_val = df.nlargest(20, 'TOTTRDVAL')

# Bar plot for top 20 entries based on TOTTRDVAL
plt.figure(figsize=(12, 6))
sns.barplot(x='TOTTRDVAL', y='SYMBOL', data=top_20_by_val)
plt.title('Top 20 Entries by Total Traded Value')
plt.xlabel('Total Traded Value')
plt.ylabel('Symbol')
plt.show()

In [ ]:

# Line plot for the closing prices of the top 20 entries over time
top_20_symbols = top_20_by_qty['SYMBOL'].unique()
top_20_closing_prices = df[df['SYMBOL'].isin(top_20_symbols)]
top_20_closing_prices['TIMESTAMP'] = pd.to_datetime(top_20_closing_prices['TIMESTAMP'])
plt.figure(figsize=(12, 6))
for symbol in top_20_symbols:
    data = top_20_closing_prices[top_20_closing_prices['SYMBOL'] == symbol]
    plt.bar(data['TIMESTAMP'], data['CLOSE'], label=symbol)
plt.title('Closing Prices of Top 20 Entries Over Time')
plt.xlabel('Timestamp')
plt.ylabel('Closing Price')
plt.legend(loc='best')
plt.show()

In [ ]:
# Top 20 entries based on TOTTRDQTY (Total Traded Quantity)
top_20_by_qty = df.nlargest(20, 'TOTTRDQTY')

# Scatter plot for the closing prices of the top 20 entries
plt.figure(figsize=(10, 6))
sns.scatterplot(x='CLOSE', y='SYMBOL', data=top_20_by_qty)
plt.title('Scatter Plot of Closing Prices for Top 20 Entries')
plt.xlabel('Closing Price')
plt.ylabel('Symbol')
plt.show()

# Box plot for the closing prices of the top 20 entries
plt.figure(figsize=(10, 6))
sns.boxplot(x='CLOSE', y='SYMBOL', data=top_20_by_qty)
plt.title('Box Plot of Closing Prices for Top 20 Entries')
plt.xlabel('Closing Price')
plt.ylabel('Symbol')
plt.show()

In [ ]:
for i in df_cat.columns:
    print(df[i].value_counts())

In [ ]:
df['SYMBOL'].value_counts()

In [ ]:
symbol_value_counts = df['SYMBOL'].value_counts()

# Filter the value counts to keep only those with count greater than 500
symbol_value_counts_gt_500 = symbol_value_counts[symbol_value_counts > 500]

# Display the result
print(symbol_value_counts_gt_500)
print(len(symbol_value_counts_gt_500))

In [ ]:
import pandas as pd

# Assuming your DataFrame is named "df" and the column you want to count is "SYMBOL"

# Get the value counts of the "SYMBOL" column
symbol_value_counts = df['SYMBOL'].value_counts()

# Find symbols with count less than 500
symbols_less_than_500 = symbol_value_counts[symbol_value_counts < 500]

# Create a new DataFrame with "Others" category for symbols with count less than 500
df_modified = df.copy()  # Create a copy of the original DataFrame
df_modified.loc[df_modified['SYMBOL'].isin(symbols_less_than_500.index), 'SYMBOL'] = 'Others'

# Get the new value counts with "Others" category
symbol_value_counts_modified = df_modified['SYMBOL'].value_counts()

# Filter the value counts to keep only those with count greater than 500
symbol_value_counts_gt_500 = symbol_value_counts_modified[symbol_value_counts_modified > 500]

# Display the result
print(symbol_value_counts_gt_500)

In [ ]:
# Create the bar plot
plt.figure(figsize=(10, 6))
sns.barplot(x=symbol_value_counts_gt_500.index, y=symbol_value_counts_gt_500.values)
plt.title('Symbols with Counts Greater Than 500')
plt.xlabel('Symbol')
plt.ylabel('Count')
plt.xticks(rotation=90)  # Rotate x-axis labels for better visibility
plt.show()

In [ ]:
sns.heatmap(df.corr(),annot = True)

In [ ]:
# Time Series Analysis - Closing Prices Over Time
df['TIMESTAMP'] = pd.to_datetime(df['TIMESTAMP'])
plt.figure(figsize=(12, 6))
plt.plot(df['TIMESTAMP'], df['CLOSE'])
plt.title('Closing Prices Over Time')
plt.xlabel('Timestamp')
plt.ylabel('Closing Price')
plt.show()

In [ ]:
# Volatility Analysis - Bollinger Bands
window = 20
df['RollingMean'] = df['CLOSE'].rolling(window=window).mean()
df['UpperBand'] = df['RollingMean'] + 2 * df['CLOSE'].rolling(window=window).std()
df['LowerBand'] = df['RollingMean'] - 2 * df['CLOSE'].rolling(window=window).std()

plt.figure(figsize=(12, 6))
plt.plot(df['TIMESTAMP'], df['CLOSE'], label='Closing Price', color='blue')
plt.plot(df['TIMESTAMP'], df['RollingMean'], label='Rolling Mean', color='orange')
plt.plot(df['TIMESTAMP'], df['UpperBand'], label='Upper Band', linestyle='dashed', color='red')
plt.plot(df['TIMESTAMP'], df['LowerBand'], label='Lower Band', linestyle='dashed', color='green')
plt.fill_between(df['TIMESTAMP'], df['UpperBand'], df['LowerBand'], alpha=0.2, color='gray')
plt.title('Bollinger Bands for Closing Prices')
plt.xlabel('Timestamp')
plt.ylabel('Price')
plt.legend(loc='best')
plt.show()

In [ ]:
# Moving Average Crossover Strategy
short_window = 10
long_window = 50

df['ShortMA'] = df['CLOSE'].rolling(window=short_window, min_periods=1).mean()
df['LongMA'] = df['CLOSE'].rolling(window=long_window, min_periods=1).mean()

plt.figure(figsize=(12, 6))
plt.plot(df['TIMESTAMP'], df['CLOSE'], label='Closing Price', color='blue')
plt.plot(df['TIMESTAMP'], df['ShortMA'], label=f'{short_window}-Day MA', color='orange')
plt.plot(df['TIMESTAMP'], df['LongMA'], label=f'{long_window}-Day MA', color='green')
plt.title('Moving Average Crossover Strategy')
plt.xlabel('Timestamp')
plt.ylabel('Price')
plt.legend(loc='best')
plt.show()

In [ ]:

# Sector Analysis
plt.figure(figsize=(10, 6))
sns.countplot(x='SERIES', data=df)
plt.title('Stocks Distribution by Series')
plt.xlabel('Series')
plt.ylabel('Count')
plt.show()

In [ ]:
df_open= df.reset_index()['OPEN']
df_open

In [ ]:
plt.subplots(figsize = (30,10))
plt.plot(df_open , color ="black")
plt.title("Open")

In [ ]:
scaler = MinMaxScaler(feature_range = (0,1))
df_open_scale = scaler.fit_transform(np.array(df_open).reshape(-1,1))
df_open_scale.shape

In [ ]:
training_size = int( len(df_open_scale) * 0.75)
testing_size  = len(df_open_scale) - training_size
train_data , test_data = df_open_scale[0 : training_size, :], df_open_scale[training_size : len(df_open_scale), :1]
training_size , testing_size

In [ ]:
def create_dataset(dataset, time_step=1):
    train_X, train_Y = [], []
    for i in range(len(dataset)-time_step-1):
        a = dataset[i:(i+time_step), 0]
        train_X.append(a)
        train_Y.append(dataset[i + time_step, 0])
    return np.array(train_X), np.array(train_Y)

In [ ]:
time_step = 100
x_train, y_train = create_dataset(train_data, time_step)
x_test, y_test = create_dataset(test_data, time_step)

In [ ]:
x_train = x_train.reshape(x_train.shape[0], x_train.shape[1], 1)
x_test = x_test.reshape(x_test.shape[0], x_test.shape[1], 1)

In [ ]:
print(x_train.shape), print(y_train.shape)

In [ ]:
model = Sequential()
model.add(LSTM(500, return_sequences = True, input_shape = (1000,1)))
model.add(LSTM(500, return_sequences = True))
model.add(LSTM(500))
model.add(Dense(100))
model.compile(loss = 'mean_squared_error', optimizer = 'adam')
model.summary()

In [ ]:
model.fit(x_train, y_train, validation_data = (x_test, y_test), epochs = 10, batch_size = 5000, verbose = 1)

In [ ]:
#Lets predict and check performance metrics

train_predict = model.predict(x_train)
test_predict = model.predict(x_test)

In [ ]:
train_predict = scaler.inverse_transform(train_predict)
test_predict = scaler.inverse_transform(test_predict)

print('RMSE performance matrics : ',math.sqrt(mean_squared_error(y_train, train_predict)) )
print("Test data RMSE : ",math.sqrt(mean_squared_error(y_test , test_predict)) )

In [ ]:
#Shift train prediction for plotting

look_back = 100
trainPredictPlot = np.empty_like(df_open_scale)
trainPredictPlot[:,:] = np.nan
trainPredictPlot[look_back:len(train_predict) + look_back, :] = train_predict

#Shift test prediction for plotting

testPredictPlot = np.empty_like(df)
testPredictPlot[:,:] = np.nan
testPredictPlot[len(train_predict) + (look_back * 2)+1:len(df_open_scale) - 1, :] = test_predict

In [ ]:
plt.subplots(figsize=(20,5))
plt.plot(scaler.inverse_transform(df_open_scale), color= 'black')
plt.show()